<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hands-off Maze game!</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
  <h1 id='newText'>Not all hand sanitizers kill COVID-19 virus - but this one does.  <br> Direct the atom by moving your hand in front of the gesture sensor.</h1>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700&display=swap" rel="stylesheet">
<div class="navbar">
	<div class="generate-maze">Generate New Maze</div>
	<div class="visualize-maze">Visualize Maze Generator</div>
	<div class="checkbox"><i class="fas fa-check"></i></div>
</div>
<script src='/socket.io/socket.io.js'></script>
<!-- partial -->
  <script  src="maze.js"></script>

</body>
</html>
